[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/cpptoml"]
	path = deps/cpptoml
	url = https://github.com/chadaustin/cpptoml
